body{
	font-family: "Helvetica Neue", Helvetica, Arial !important;
	}
a{text-decoration:none;color:#010101}
.head_box{width:100%}.head_box .info_bar{width:100%;height:2.5em;left:0;top:0}
.head_box .info_bar a,.head_box .info_bar span{font-size:1.17em;height:2.43em;line-height:2.43em;color:#666;width:12.5%;text-align:center}
.head_box .info_bar a:hover{color:#333;background: #ccc}
.head_box .nav_box{margin:0 auto;height:3.21em;width:82em;background-color:#196299}.head_box .nav_box a{font-size:1.17em;height:2.43em;line-height:2.43em;color:#232323;background:#CEE2EB;width:12.5%;border-bottom:1px solid #CCCCCC;border-right:1px solid #CCCCCC;text-align:center}
.head_box .nav_box a:first-child{border-left:1px solid #CCCCCC;*width:110px}
.head_box .nav_box a:hover{background-color:#333333;color:#FFFFFF}
.head_box .nav_box a:nth-child(9){width:11.116%}
.head_box .nav_box .active{background-color:#FFFFFF;color:#054C80;font-weight:bold;border-bottom:1px solid #FFFFFF}
.header{color:#000002;height:8em;width:82em;margin:0 auto}.header .header_title{background:url('../images/header_title.png') no-repeat 0 0;width:30.67em;height:3.75em;left:1.08em;top:2.92em}
.header .header_search{background:url('../images/home_icon.jpg') no-repeat 0 0;width:22.58em;height:2.58em;right:.42em;bottom:1.25em}.header .header_search .si{width:18.58em;height:2.08em;line-height:1.83em;left:.25em;top:.25em;outline:none;border:0;background:transparent}
.header .header_search .sb{background:url('../images/home_icon.jpg') no-repeat -235px 0;width:3em;height:2.58em;right:0;cursor:pointer;*cursor:hand}
.news{width:82em;min-height:350px;margin:0 auto;}.news .br{height:.5em}
.news .news_item{width:43%;font-size:1.17em}.news .news_item .tab_btn{margin:.9285714285714286em auto}
.news .news_item .tab_btn li{width:49.5%;height:2em;line-height:2em;background:-webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#ededed));background:-moz-gradient(linear, left top, left bottom, from(#fdfdfd), to(#ededed));background:-ms-gradient(linear, left top, left bottom, from(#fdfdfd), to(#ededed));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#EDEDED');border:1px solid #CFCFCF;border-left:0;cursor:pointer;*cursor:hand}.news .news_item .tab_btn li:first-child{border-left:1px solid #CFCFCF}
.news .news_item .tab_btn .active{background:#FFFFFF;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF');border-bottom:1px solid #FFFFFF;font-weight:bold;color:#080808}
.news .news_item #tab1{display:none}
.news .news_item .item{height:1.71em;margin:.7142857142857143em auto}.news .news_item .item a{color:#010101}.news .news_item .item a:hover{color:#CE1A1D;text-decoration:none}
.news .news_pic{width:55%;height:25.75em}
.news .import_info_bar{font-size:1.92em;height:2.17em;line-height:2.17em;background:url('../images/import_bar.jpg');color:#CE1A1D}
.news .lianhe{background:url('../images/home_icon2.jpg') no-repeat 0 0;height:12.58em;margin:2.3333333333333335em auto;font-family:'微软雅黑'}.news .lianhe span{font-size:1.5em;top:.56em;color:#0F0F0F;cursor:default;font-weight:bold}
.news .lianhe .lh1{left:2.5em}
.news .lianhe .lh2{left:16.56em}
.news .lianhe .lh3{left:26.83em}
.news .lianhe .lh4{left:38.5em}
.news .lianhe .lianhe_btn{font-size:1.25em;background:url('../images/home_icon2.jpg') no-repeat 0 -160px;width:8.87em;height:2.2em;font-weight:bold;line-height:2.2em;cursor:pointer;*cursor:hand;top:5.33em}.news .lianhe .lianhe_btn:hover{background:url('../images/home_icon2.jpg') no-repeat -140px -161px;color:#FFFFFF}
.news .lianhe .in{left:2.67em}
.news .lianhe .bao{left:16.47em}
.news .lianhe .ban{left:30.67em}
.news .lianhe .cha{background-position:-284px -161px;width:64px;height:74px;line-height:74px;left:60em;top:4em}.news .lianhe .cha:hover{background-position:-360px -161px}
.news .lianhe .input{outline:none;border:0;height:1.67em;width:11.08em;left:62.08em;line-height:1.5em;background:transparent}
.news .lianhe .id{top:4.92em}
.news .lianhe .unit{top:7.17em}
.news .lianhe .num{top:9.33em;width:6.67em}
.list{width:82em;margin:0 auto}
.wb_box{width:100%}
.list_header{padding:.83em .42em .42em .42em;border-bottom:4px solid transparent;margin:0 0 1.08em 0}.list_header .header_title{font-family:'Microsoft Yahei';font-size:1.5em;padding-left:40px;color:#0055C0;font-weight:bold}
.list_header .tab{background:#F7F7F7;border:1px solid #DADADA;top:12px;font-size:1.33em;width:6.19em;height:1.81em;text-align:center;line-height:1.81em;cursor:pointer;*cursor:hand;*top:10px}
.list_header .tab.checked{background-color:#FFFFFF;color:#4F5054;font-weight:bold}
.list_header .qi{right:6.5em}
.list_header .ge{right:.42em}
.list_header .more{right:.83em;top:1.25em;color:#898989}
.list_header:after{content:'';position:absolute;background:url('../images/split_line.png') no-repeat;height:3px;width:473px;top:44px;left:0}
.flat_icon{background:url('../images/flat_icon.png') no-repeat 0 0;width:3em;height:3em;left:5px;top:7px}
.flat01{background-position:center 0}
.flat02{background-position:center -44px}
.flat03{background-position:center -80px}
.flat04{background-position:center -122px}
.bangong_box{width:82em;margin:0 auto;height:300px;overflow:hidden}
.nimei{background-color:#FAF8F9}
.nimei2{background-color:#FAFAFA}
.gongshi{height:25em}.gongshi tr:first-child{background-color:#FAFAFA}
.gongshi th{font-weight:normal;color:#2C3695}
.tongji_box{right:0;top:0}.tongji_box p{line-height:2.5em;padding-left:2.5em}
.footer{border:1px solid transparent;width:100%;font-size:1.33em}
.login_box{z-index:2000;background:url('../images/login.png') no-repeat 0 0;height:17.25em;width:22.83em;top:2.08em;right:0}.login_box .input{background:transparent;border:0;outline:none;height:2.08em;width:15.5em;line-height:1.83em}
.login_box .username{left:3.58em;top:4.67em}
.login_box .password{left:3.58em;top:8em}
.login_box .errordiv{left:3.58em;top:10.5em;height:2.08em;width:15.5em;line-height:1.83em;color:#F00}
.login_box a{background:url('../images/login.png') no-repeat 0 -211px;height:2.67em;width:15.92em;left:3.42em;bottom:2.58em}
.userinfo_box{background-color:#fff;border-radius: 5px;border:1px solid #e7e7e7;z-index:2000;height:15.25em;width:13.83em;top:3.4em;right:3.5em;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/
	-moz-box-shadow: 2px 2px 10px #909090;/*firefox*/
	-webkit-box-shadow: 2px 2px 10px #909090;/*safari或chrome*/
	box-shadow:2px 2px 10px #909090;/*opera或ie9*/
}
.head_box .info_bar .userinfo_box .userinfo_box-arrow{
	position: absolute;
    z-index: 2000;
    top: -20px;
    right: 20px;
    width: 0;
    height: 0;
    line-height: 0;
    border: 10px dashed transparent;
    border-bottom: 10px solid #f9f9f9;
    font-size: 0;
}
.userinfo_box hr{
	margin-top:1em;
	height: 0px;
    width: 100%;
    border-top: 1px dotted #ddd;
    }
.head_box .info_bar .userinfo_box div a{font-size:15px;margin-left:5px;height:25px;line-height: 25px}
.userinfo_box div{padding-left:1.5em;margin-top:0.8em;width:100%;font-size:15px;text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.qunimeia span{width:4.33em;height:2.5em;text-align:center;line-height:1.5em;margin:5px;cursor:pointer}
.banner_0{position:relative;z-index:1;*z-index:-1;height:100%;width:100%;margin:1.25em .42em .25em 0}
.banner_0_top{background:#fff;width:100%;height:100%}
.banner_0_top li{position:absolute;left:0;top:0;width:100%;height:100%;text-align:center}
.banner_0_top li img{position:relative;width:100%;height:100%}
.banner_0_top li .tit{position:absolute;left:0;bottom:-26px;background:#F3F3F3;font-size:100%;min-height:1.42em;padding:0.36em 0;width:100%;text-align:left;font-weight:normal}
.banner_0_top li .tit a{padding-left:130px;font-size:1.17em}
.banner_0_top li .tit a:hover{text-decoration:underline}
.banner_0_bottom{position:absolute;bottom:-27px;width:25%;left:0;text-align:left;z-index:20;height:2.83em}
.banner_0_bottom span{background:url(../images/n_html55.png) left top no-repeat;width:1em;height:1em;display:inline-block;cursor:pointer;margin:1em .42em 0 .42em}.banner_0_bottom span:first-child{margin-left:1.25em}
.banner_0_bottom span.on{background:url(../images/n_html55.png) right top no-repeat}
.banner_0 .next{background:url(../images/in_bon_01.png) no-repeat;width:1.58em;height:2.83em;position:absolute;left:.83em;top:45%;opacity:0.7;cursor:pointer;z-index:20}
.banner_0 .por{background:url(../images/in_bon_03.png) no-repeat;width:1.58em;height:2.83em;position:absolute;right:.83em;top:45%;opacity:0.7;cursor:pointer;z-index:20}
.banner_0 .next:hover{background:url(../images/in_bon_02.png) no-repeat;width:1.58em;height:2.83em;position:absolute;cursor:pointer;z-index:20}
.banner_0 .por:hover{background:url(../images/in_bon_04.png) no-repeat;width:1.58em;height:2.83em;position:absolute;cursor:pointer;z-index:20}
.left_grid{width:220px}
.right_grid{width:754px;margin-left:10px}
.area_btn{width:210px;height:43px;line-height:43px;color:#0A0A0A;font-size:14px;border:1px solid #DCDCDC;border-top:0;cursor:pointer;background:#F8F8F8}
.area_btn.first{margin-top:15px;border-top:4px solid #186198}
.area_btn.active{background:#FFFFFF}
.area_btn:hover{background-position:0 -48px}
.area_btn span{padding-left:30px}
.bread_link{width:100%;margin:10px auto;padding:5px 0;background-color:#F8F8F8}
.grid_content{width:100%}
.grid_btn{background:-webkit-gradient(linear, left top, left bottom, from(#eaf6f6), to(#c0dde3));background:-moz-gradient(linear, left top, left bottom, from(#eaf6f6), to(#c0dde3));background:-ms-gradient(linear, left top, left bottom, from(#eaf6f6), to(#c0dde3));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#EAF6F6', endColorstr='#C0DDE3');border:1px solid #C1DFE7;height:34px;width:238px;line-height:34px;margin-right:20px;margin-bottom:30px;*width:235px}
.server_form table{border-top:4px solid #186198;border-left:1px solid #E9E9EB}
.server_form td{border-right:1px solid #E9E9EB;border-bottom:1px solid #E9E9EB}
.server_form .ltd{background-color:#F8F8F8;text-align:center}
.server_form .rtd{height:28px;line-height:28px;padding-left:5px}
.server_form_ul{border:1px solid #E7E7E7}.server_form_ul .title{height:32px;background-color:#F2F6F7;line-height:32px}
.server_form_ul .item{height:38px;line-height:38px;border:1px solid #E7E7E7}
.submit_btn{background:-webkit-gradient(linear, left top, left bottom, from(#1c8bd2), to(#225fb0));background:-moz-gradient(linear, left top, left bottom, from(#1c8bd2), to(#225fb0));background:-ms-gradient(linear, left top, left bottom, from(#1c8bd2), to(#225fb0));filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1C8BD2', endColorstr='#225FB0');width:55px;height:22px;margin:10px auto;line-height:22px;color:#FFFFFF;cursor:pointer}
.guy{background-color:#F8F8F8}
.page_bar .disabled,.page_bar .current{padding:0 5px;color:#DDDDDD}
.page_bar .current{font-weight:bold;color:#000000}
.page_bar a{color:#4360E0;width:25px;height:25px;border:1px solid #CCCCCC;text-align:center;line-height:25px}
.page_bar a:hover{border:1px solid #A9A9A9}
.page_bar .de{color:#676767}
.magazine_box{width:984px;margin:0 auto;width:82em;height:17.92em;background:url('../images/toushu.jpg') no-repeat 0 0}
.jcarousel-wrapper{margin:20px auto;position:relative;padding:0 10px 10px 10px;background:url('../images/toushu.jpg') no-repeat 0 0}
.jcarousel{position:relative;overflow:hidden;width:100%}
.jcarousel ul{width:20000em;position:relative;list-style:none;margin:0;padding:0}
.jcarousel li{width:200px;float:left;border:1px solid #fff;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;padding-left:30px}
.jcarousel span{margin-right:18px}
.jcarousel .read{height:22px;line-height:22px;width:92px;margin:5px auto}
.read_left{background:url('../images/read_btn.png') no-repeat;padding-left:12px;height:100%;float:left;color:#FFF;cursor:pointer}
.read_right{background:url('../images/read_btn.png') no-repeat right -25px;height:100%;padding-right:12px}
.jcarousel img{display:block;max-width:100%;height:auto !important;border:1px solid #CCCCCC;width:113.17647058823529px}
.jcarousel-control-prev,.jcarousel-control-next{position:absolute;top:36%;margin-top:-15px;width:30px;height:60px;text-align:center;color:#A2A3A8;text-decoration:none;font:60px/60px Arial,sans-serif;font-family:微软雅黑}
.jcarousel-control-prev{left:10px}
.jcarousel-control-next{right:10px}
.jcarousel-pagination{position:absolute;bottom:-40px;left:50%;-webkit-transform:translate(-50%, 0);-ms-transform:translate(-50%, 0);transform:translate(-50%, 0);margin:0}
.jcarousel-pagination a{text-decoration:none;display:inline-block;font-size:11px;height:10px;width:10px;line-height:10px;background:#fff;color:#4E443C;border-radius:10px;text-indent:-9999px;margin-right:7px;-webkit-box-shadow:0 0 2px #4E443C;-moz-box-shadow:0 0 2px #4E443C;box-shadow:0 0 2px #4E443C}
.jcarousel-pagination a.active{background:#4E443C;color:#fff;opacity:1;-webkit-box-shadow:0 0 2px #F0EFE7;-moz-box-shadow:0 0 2px #F0EFE7;box-shadow:0 0 2px #F0EFE7}
.ban_tong{width:49%}
.gu_tong{width:49%}
.title_haha{background:#DDDDDD;line-height:28px;text-align:center;font-weight:normal}
.ha_ni{width:90%;margin:0 auto}
.asdf{color:#CFCFD1}
.tab_01,.tab_02{width:120px;top:16px;right:1px;height:22px;line-height:22px}
.tab_01{right:120px}
.tab_01 .read_left,.tab_02 .read_left{background:none;color:#2F3195}
.tab_01 .read_right,.tab_02 .read_right{background:none}
.checked .read_left{background:url('../images/read_btn.png') no-repeat;padding-left:12px;height:100%;float:left;color:#FFF;cursor:pointer}
.checked .read_right{background:url('../images/read_btn.png') no-repeat right -25px;height:100%;padding-right:12px}
.ssss{color:#D9D9D9;right:116px;top:18px}
.other_link{margin:0 auto 20px;width:82em}
.list_header22 .header_title{padding-left:4px !important}
.list_header22:after{width:984px}
.other_link select{width:190px}
.haha_lala{width:82em;margin:20px auto}.haha_lala .sbh{background-color:#488EE4;color:#FFF;height:36px;line-height:36px;width:80%;margin-top:0}
.haha_lala .sub_menu_item{width:80%;background:url('../images/1247735378381.png') no-repeat center bottom}
.haha_lala .level2_l .sub_menu_item li{background-color:#E6E8ED;border-left:1px solid #DCDCDC;border-right:1px solid #dcdcdc}
.haha_lala .sub_menu_item a{display:block;height:36px;line-height:36px;border-top:1px solid #3CA0FA;width:90%;margin:0 auto}
.haha_lala .sub_menu_item li:first-child a{border:0}
.haha_lala .sub_menu_item a:hover{font-weight:bold}
.haha_lala .sub_menu_item li{border-left:1px solid #DCDCDC;border-right:1px solid #DCDCDC}
.nav_page{padding:5px 0;color:#676767}
.nav_page a{color:#676767}
.new_arrival{border:1px solid #CAE4F3;padding:0 10px;min-height:400px;_height:400px;}
.new_h{background-color:#5589C3;height:36px;line-height:36px;font-size:14px;padding-left:20px;color:#FFF;font-weight:bold}
.new_h2{background-position:0 -282px}
.new_h cite{right:10px;font-size:14px;top:4px}
.new_h cite a{color:#2D2F94}
.new_arrival .item{border-bottom:1px dotted #C1C1C1;height:36px;line-height:36px}
.new_arrival .schec{color:#676767;left:14px;top:0px;cursor:default;font-style:normal; height:33px; width:60px;text-align:center}
.new_arrival .content{padding-left:82px;cursor:pointer;color:#2E3293;font-size:14px;width:800px}
.new_arrival .content a{color:#2E3293;text-decoration:none}
.new_arrival .content:hover{text-decoration:underline}
.new{color:#2D3192;font-weight:bold}
.new_pic{background-position:-116px -170px;width:22px;height:11px;right:122px;top:11px}
.new_arrival time{top:0;right:24px;color:#B8B8B8;font-size:12px}
.page_bar .disabled,.page_bar .current{padding:0 5px;color:#DDDDDD}
.page_bar .current{font-weight:bold;color:#000000}
.page_bar a{color:#000099;padding:0 5px;border:1px solid #FFFFFF}
.page_bar a:hover{border:1px solid #000099}
.page_bar .de{color:#676767}
div.article{font-size:14px;word-break:break-all;word-wrap:break-word;overflow:hidden;line-height:24px;color:#666;line-height:28px;text-align:left;text-indent:2em;padding:20px}
.title_bar h1{font-size:18px;color:#4F649B;padding:20px 0 5px 0}
.title_bar h2{font-size:12px;color:#666666;font-weight:normal;padding:5px 0 0 0}