<#import "/spring.ftl" as spring />
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html ng-app="blogPage" ng-controller="blogController">
<head>
<title>个人创作</title> 
<#include "/html_meta.ftl" parse=true encoding="UTF-8"> 
<#include "/portal_headCSS.ftl" parse=true encoding="UTF-8">
<#include "/portal_headJS.ftl" parse=true encoding="UTF-8">
<script type="text/javascript" src="<@spring.url ''/>/scripts/blog/article.js"></script>
</head>
<body class="home-template">
	<div class="container-fluid">
		<div class="row">
			<div id="m-nav" class="col-xs-12 col-sm-4 col-md-4 col-lg-2 affix">
				<div class="row m-nav-container">
					<div id="m-sidebar" class="col-sm-12 col-md-12 animated fadeIn" style="overflow: hidden; outline: none;">
						<div class="sidebar-container">
							<div class="logo-box">
								<a href="##" class="logo-link" title="he is a good dog.">BLOG</a>
								<p class="logo-desc">he is a good dog.</p>
							</div>
							<ul class="site-nav-box row">
								<li class="col-md-12 col-xs-4">
								<a href="<@spring.url ''/>/" class="current_nav">首页</a>
								</li>
								<li class="col-md-12 col-xs-4">
								<a href="<@spring.url ''/>/user/commonUser/goToPortalPage?templateName=blog/articleList">主页</a>
								</li><li class="col-md-12 col-xs-4">
								<a target="_blank" href="mailto:23982448@qq.com">联系</a>
								</li>
							</ul>
							<hr class="site-nav-diver">
							<ul class="sidebar-social-list">
								<li class="icon-facebook"><a href="#"><i
										class="fa fa-facebook"></i></a></li>
								<li class="icon-twitter"><a href="#"><i
										class="fa fa-twitter"></i></a></li>
								<li class="icon-dribbble"><a href="#"><i
										class="fa fa-dribbble"></i></a></li>
								<li class="icon-instagram"><a href="#"><i
										class="fa fa-instagram"></i></a></li>
								<li class="icon-foursquare"><a href="#"><i
										class="fa fa-foursquare"></i></a></li>
								<li class="icon-flickr"><a href="#"><i
										class="fa fa-flickr"></i></a></li>
								<li class="icon-youtube"><a href="#"><i
										class="fa fa-youtube-play"></i></a></li>
								<li class="icon-vimeo"><a href="#"><i
										class="fa fa-vimeo-square"></i></a></li>
								<li class="icon-tumblr"><a href="#"><i
										class="fa fa-tumblr"></i></a></li>
								<li class="icon-skype"><a href="#"><i
										class="fa fa-skype"></i></a></li>
								<li class="icon-google-plus"><a href="#"><i
										class="fa fa-google-plus"></i></a></li>
								<li class="icon-pinterest"><a href="#"><i
										class="fa fa-pinterest"></i></a></li>
								<li class="icon-linkedin"><a href="#"><i
										class="fa fa-linkedin"></i></a></li>
								<li class="icon-rss"><a href="http://huaidan.im/rss/"><i
										class="fa fa-rss"></i></a></li>
							</ul>
							<p class="site-copyright">
								© Copyright 2014 - 2015 <a href="<@spring.url ''/>/" title="二蛋">二蛋</a>
							</p>
						</div>
						<div class="sidebar-bg">
						</div>
					</div>
				</div>
				<div id="ascrail2000" class="nicescroll-rails" style="padding-right: 2px; width: 9px; z-index: auto; cursor: default; position: absolute; top: 0px; left: 140px; height: 327px; display: block; opacity: 0;"><div style="position: relative; top: 0px; float: right; width: 5px; height: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(0, 0, 0); background-clip: padding-box;"></div></div>
				<div id="ascrail2000-hr" class="nicescroll-rails" style="height: 7px; z-index: auto; top: 320px; left: 0px; position: absolute; display: none; opacity: 0; width: 140px;"><div style="position: relative; top: 0px; height: 5px; width: 0px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; left: 0px; background-color: rgb(0, 0, 0); background-clip: padding-box;"></div></div>
				<div id="ascrail2001" class="nicescroll-rails" style="padding-right: 2px; width: 9px; z-index: 5; cursor: default; position: absolute; top: 0px; left: 438.203px; height: 327px; opacity: 0;"><div style="position: relative; top: 82px; float: right; width: 5px; height: 133px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(0, 0, 0); background-clip: padding-box;"></div></div>
				<div id="ascrail2001-hr" class="nicescroll-rails" style="height: 7px; z-index: 5; top: 320px; left: 149.203px; position: absolute; display: none; width: 289px; opacity: 0;"><div style="position: relative; top: 0px; height: 5px; width: 298px; border: 1px solid rgb(255, 255, 255); border-radius: 5px; background-color: rgb(0, 0, 0); background-clip: padding-box;"></div></div>
			</div>
			<div id="m-post" class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2">
				<div class="row">
					<div class="col-lg-11 col-md-11 col-sm-12 m-post-container" data-body-class="home-template" style="height: auto;">
						<div class="animated fadeInUp"
							style="animation-duration: 0.6s; animation-timing-function: ease-in-out;">
							<form ng-submit="vm.submit()" role="form" id="article_form" method="post" enctype="multipart/form-data" novalidate="">
					          <div class="form-group">
					            <label for="topicName" class="control-label sr-only"></label>
					            <select class="form-control" name="topicName" ng-model="vm.article.topicName"  required="" placeholder="文章分类">
								  <option ng-repeat="topic in topics" value="{{topic.topicName}}">{{topic.topicFullName}}</option>
								</select>
					          </div>
					          <div class="form-group">
					            <label for="title" class="control-label sr-only"></label>
					            <input type="text" class="form-control" name="title" ng-model="vm.article.title" required="" ng-maxlength="50" ng-minlength="5" placeholder="文章标题">
					          </div>
					          <div class="form-group">
					          	<label for="content" class="control-label sr-only"></label>
					          	<textarea name="content" ckeditor ng-model="vm.article.content" required="">
						    	</textarea>
					          </div>
					          <div class="form-group">
							    <div class="col-md-12">
							      <button type="submit" class="btn btn-success"
							              ng-disabled="article_form.$invalid">保存
							      </button>
							      <button type="submit" class="btn btn-success"
							              ng-disabled="article_form.$invalid">发布
							      </button>
							      <button type="button" ng-click="vm.reset(article_form)" class="btn btn-default"
							              >重置
							      </button>
							    </div>
							  </div>
					        </form>
					        </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /container -->
	<div class="messageBox"></div><!-- /addSuccessMessageBox -->
	<script charset="utf-8" src="<@spring.url ''/>/editor/ckeditor/ckeditor.js"></script>
</body>
</html>
